* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* ASPECTOS GENERALES */
section {
  padding: 12px;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
}

h2 span {
  color: #ef7d00;
}

p {
  font-size: 20px;
  font-weight: 100;
  color: #333333;
  margin-top: 12px;
}

.footer__slider {
  display: flex;
  justify-content: flex-end;
}

.btn-left {
  margin-right: 12px;
}

/* TOP BAR */
.topbar {
  width: 100%;
  height: 102px;
  padding: 12px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.logo-esat {
  height: 30px;
}

.logo-ux {
  height: 90px;
}

/*Section 1*/
.landing {
  background-image: url(./Image/test-landing-id3\ 1.png);
  background-position: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  margin-bottom: 72px;
}

.landing__txt {
  position: absolute;
  color: white;
  bottom: 37px;
}

.landing__txt h2 {
  color: #ef7d00;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 5px;
}

.landing__txt h1 {
  font-size: 40px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.landing__txt p {
  font-size: 20px;
  font-weight: 50;
  margin-bottom: 12px;
  line-height: auto;
  color: #ffffff;
  line-height: auto;
  margin-top: 0;
}

.btn-start {
  width: 178px;
  height: 43px;
  display: inline-block;
  background-color: #ef7d00;
  border-radius: 6px;
  color: white;
  padding: 12px 24px;
}

/* SECTION 2 */

.design {
  margin-bottom: 72px;
}

.design__txt {
  margin-bottom: 36px;
}

.design__txt p {
  margin-top: 12px;
}

.carousel__content {
  margin-bottom: 12px;
}

.carousel {
  width: 100%; /* TRUCO: no te estires más del 100% */
}

/* SECTION 3 */

.project {
  background-color: #eef0f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.project__txt {
  text-align: center;
  margin-bottom: 48px;
  margin-top: 96px;
}

.mockup {
  margin-bottom: 72px;
}

/* SECTION 4*/
.formation {
  margin-bottom: 72px;
}

.formation__txt {
  margin-bottom: 48px;
}

.feature {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}

.feature .icon {
  width: 48px;
  height: 48px;
  margin-left: 0;
}

.feature h3 {
  font-size: 20px;
  color: #333;
  margin: 0;
  font-weight: bold;
}

.feature p {
  font-size: 16px;
  color: #333;
  margin-top: 0;
  line-height: 1.5;
}

.vsc {
  width: 100%;
}

/*Section 5*/
.space {
  position: relative;
  background-image: url(./Image/test-landing-id3\ 1.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 72px;
}
.space__txt {
  text-align: center;
  color: white;
  margin-top: 220px;
}

.space__txt h3 {
  font-size: 36px;
  line-height: auto;
  height: 300px;
  margin-bottom: 5px;
}

.space__txt h3 span {
  font-weight: 100;
}

.btn-reserve {
  display: inline-block;
  border-radius: 6px;
  font-size: 20px;
  color: white;
  background-color: #ef7d00;
  padding: 12px 24px;
  text-decoration: none;
  margin-bottom: 220px;
}

/*Section 6*/
.matricula {
  margin-bottom: 110px;
}

.matricula__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.figma {
  width: 100%;
  margin-bottom: 24px;
}

.info {
  display: flex;
  align-items: flex-start;
}

.info .icon {
  width: 48px;
  height: 48px;
  margin-left: 0;
  margin-bottom: 36px;
}

.info h3 {
  font-size: 20px;
  color: #3c3c3c;
  font-weight: bold;
  margin: 0 0 4px 0;
}
.info h3 span {
  font-size: 16px;
  color: #3c3c3c;
  line-height: auto;
}

/*Section 7*/
.teachers {
  margin-bottom: 120px;
}

.teachers__txt {
  margin-bottom: 10px;
}

.teacher-card {
  display: flex;
  flex-direction: column;
}

.diego {
  width: 100%;
}

.teacher-info h3 {
  color: #ef7d00;
  font-size: 24px;
  margin-bottom: 5px;
}

.teacher-info h3 span {
  color: #333333;
}
.teacher-info p {
  line-height: auto;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 29px;
}

/*Section 8*/
.workshop {
  margin-bottom: 120px;
}

.workshop__txt {
  margin-bottom: 10px;
}
.workshop__card {
  display: flex;
  flex-direction: column;
}
.firebase {
  width: 100%;
}

.card__info {
  margin-bottom: 29px;
}
.card__info h3 {
  color: #ef7d00;
  font-size: 24px;
  line-height: auto;
  margin-bottom: 5px;
}
.card__info h3 span {
  font-size: 18px;
  color: #333333;
}
.card__info p {
  line-height: auto;
  font-size: 16px;
  font-weight: 100;
}

/*Section 8*/
.why-us {
  margin-bottom: 132px;
}
.why-us__title {
  margin-bottom: 36px;
}
/* estilos para tarjetas normal*/
.card {
  padding: 24px;
  border: 1px solid #e4ebef;
  border-radius: 12px;
  margin-bottom: 24px;
}
.card .icon {
  width: 48px;
  height: 48px;
  display: block;
  margin-bottom: 24px;
}
/* nueva clase para el espacio adicional*/
.card--space .icon {
  margin-bottom: 63px;
}
.card__content h3 {
  font-size: 24px;
  color: #3c3c3c;
  margin: 0 0 5px 0;
}
.card__content p {
  font-size: 16px;
  color: #3c3c3c;
  margin: 0;
}
/*estilos para las tarjetas naranjas*/
.card--orange {
  padding: 24px;
  background-color: #ef7d00;
  border-radius: 12px;
  margin-bottom: 24px;
}
.card--orange .icon {
  width: 48px;
  height: 48px;
  display: block;
  margin-bottom: 24px;
}
.content__orange h3 {
  font-size: 24px;
  color: #ffffff;
  margin: 0 0 5px 0;
}
.content__orange p {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}

/*Section 9*/

.adn {
  margin-bottom: 116px;
}
.adn__txt {
  margin-bottom: 58px;
}

.adn__card {
  display: flex;
  flex-direction: column;
}
.gema {
  width: 100%;
  margin-bottom: 10px;
}
.card__content h3 {
  font-size: 24px;
  line-height: auto;
}
.card__content h3 span {
  font-size: 18px;
  font-weight: 100px;
}
.card__content h3 small {
  font-size: 18px;
  font-weight: 100px;
  color: #ef7d00;
}
.card__content p {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 46px;
}

/*Section 10*/
.footer-esat {
  background-color: #333333;
  color: white;
  padding: 36px;
}

.footer-topbar {
  margin-top: 65px;
}
.logo-esat-footer {
  height: 80px;
  margin-bottom: 36px;
}
h3 {
  font-size: 16px;
  font-weight: 100;
}
.content-left {
  display: flex;
  justify-content: space-between;
  gap: auto;
  margin-bottom: 58px;
}

.content-right {
  margin-bottom: 60px;
  color: white;
}

.content-right p {
  color: white;
  font-size: 16px;
  font-weight: 100px;
}
.footer__info h3 {
  font-size: 16px;
  line-height: auto;
  font-weight: 100;
  margin-bottom: 24px;
}
.footer__info h3 span {
  margin-bottom: 60px;
}
